.App {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  --canvas-size: 400px;
  --canvas-center-y: 300px;

  --d-pad-size: 100px;
  --d-pad-center-y: 200px;
  --d-pad-center-x: calc(50% + 300px);
  --d-pad-button-size: 30px;

  --config-button-top: 100px;
  --config-button-width: 125px;
  --config-button-height: 125px;
  --config-button-center-x: calc(50% - 300px);
}

.fourByFourImg {
  top: 100px;
  left: 50px;
}

.fourByFourButton,
.fiveByFiveButton,
.sixBySixButton {
  position: absolute;
  left: calc(var(--config-button-center-x) - var(--config-button-width) / 2);
  width: var(--config-button-width);
  height: var(--config-button-height);
  cursor: pointer;
  border-radius: 10px;
  background-color: #ccc;
  border: 1px solid #aaa;
  box-shadow: 0 0 5px #aaa;
  font-size: 60px;
  font-weight: bold;
}

.fourByFourButton {
  top: calc(var(--config-button-top));
  background-image: url(./assets/4x4.jpg);
  background-size: cover;
}

.fiveByFiveButton {
  top: calc(var(--config-button-top) + var(--config-button-height));
  background-image: url(./assets/5x5.jpg);
  background-size: cover;
}

.sixBySixButton {
  top: calc(var(--config-button-top) + 2*var(--config-button-height));
  background-image: url(./assets/6x6.jpg);
  background-size: cover;
}

.App-canvas {
  position: absolute;
  top: calc(var(--canvas-center-y) - var(--canvas-size) / 2);
  left: calc(50% - var(--canvas-size) / 2);
}

.moveCounter,
.scoreCounter {
  position: absolute;
  width: 100px;
  left: calc(50% - 50px);
  font-size: 20px;
}

.moveCounter {
  top: 500px;
}

.scoreCounter {
  top: 525px;
}

.upButton,
.downButton,
.leftButton,
.rightButton,
.removeGroupsButton,
.resetGameButton,
.solveGameButton {
  position: absolute;
  background-color: #ccc;
  border: 1px solid #aaa;
  box-shadow: 0 0 5px #aaa;
  cursor: pointer;
}

.upButton,
.downButton,
.leftButton,
.rightButton {
  width: var(--d-pad-button-size);
  height: var(--d-pad-button-size);
  border-radius: 25%;
}

.upButton {
  top: calc(var(--d-pad-center-y) - var(--d-pad-size) / 2);
  left: var(--d-pad-center-x);
}

.downButton {
  top: calc(var(--d-pad-center-y) + var(--d-pad-size) / 2);
  left: var(--d-pad-center-x);
}

.leftButton {
  top: var(--d-pad-center-y);
  left: calc(var(--d-pad-center-x) - var(--d-pad-size) / 2);
}

.rightButton {
  top: var(--d-pad-center-y);
  left: calc(var(--d-pad-center-x) + var(--d-pad-size) / 2);
}

.removeGroupsButton,
.resetGameButton,
.solveGameButton {
  left: calc(var(--d-pad-center-x) - var(--d-pad-size) / 2);
  width: calc(var(--d-pad-size) + var(--d-pad-button-size));
  height: 50px;
  border-radius: 10px;
}

.removeGroupsButton {
  top: 300px;
}

.resetGameButton {
  top: 375px;
}

.solveGameButton {
  top: 450px;
}