.App {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  --d-pad-size: 100px;
  --d-pad-center-x: 200px;
  --d-pad-center-y: 700px;
}

.App-canvas {
  position: absolute;
  top: 100px;
  left: 200px;
}

.upButton {
  position: absolute;
  top: calc(var(--d-pad-center-x) - var(--d-pad-size)/2);
  left: var(--d-pad-center-y);
}

.downButton {
  position: absolute;
  top: calc(var(--d-pad-center-x) + var(--d-pad-size)/2);
  left: var(--d-pad-center-y);
}

.leftButton {
  position: absolute;
  top: var(--d-pad-center-x);
  left: calc(var(--d-pad-center-y) - var(--d-pad-size)/2);
}

.rightButton {
  position: absolute;
  top: var(--d-pad-center-x);
  left: calc(var(--d-pad-center-y) + var(--d-pad-size)/2);
}
